#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.matrix-container {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
td {
  padding: 5px;
  margin: 6px;
  text-align: center;
  border: 5px solid white;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  border-radius: 10px;
}

.matrix-table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-div {
  height: "200px";
}
